:root{
    --bs-border-color: #415377; 
    --bs-success-rgb: 219, 217, 205;
}
.country-data{
    background-color: #384B70;
    transition: all 0.6s;
}
.country-data:hover{
    background-color: rgba(73, 96, 144, 0.4); 
}
tr,td,th{
    border: 2px solid black;
    text-align: center;
}